aiohttp==3.9.5
aiomysql==0.2.0
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
APScheduler==3.10.4
asgiref==3.8.1
attrs==23.2.0
Automat==22.10.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.0
blinker==1.7.0
boto3==1.35.49
botocore==1.35.49
Brotli==1.1.0
cache==1.0.3
cachelib==0.9.0
cachetools==5.3.3
celery==5.4.0
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
config==0.5.1
constantly==23.10.4
contourpy==1.2.1
cors==1.0.1
cryptography==42.0.5
cssselect==1.2.0
cycler==0.12.1
DBUtils==3.1.0
decorator==4.4.2
distro==1.9.0
Django==5.0.6
django-request==1.6.3
dnspython==2.6.1
docx==0.2.4
et-xmlfile==1.1.0
eventlet==0.37.0
fake-useragent==1.4.0
filelock==3.13.1
flasgger==0.9.7.1
Flask==3.0.0
Flask-Caching==2.3.0
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Session==0.8.0
Flask-SocketIO==5.4.1
fonttools==4.53.1
frozendict==2.4.4
frozenlist==1.4.1
future==0.18.3
gevent==23.9.1
google==3.0.0
google-api-core==2.21.0
google-api-python-client==2.143.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.1
googletrans==3.0.0
greenlet==3.0.3
grpcio==1.67.0
grpcio-tools==1.67.0
gspread==6.1.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.6.1
html5lib==1.1
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_metadata==8.4.0
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
kaitaistruct==0.10
kiwisolver==1.4.5
kombu==5.3.7
langid==1.1.6
loguru==0.7.2
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
mistune==3.0.2
MouseInfo==0.1.3
moviepy==1.0.3
msgspec==0.18.6
multidict==6.0.5
multitasking==0.0.11
numpy==1.26.3
oauth2-client==1.4.2
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.28.0
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.0
parameterized==0.9.0
paramiko==3.4.0
parsel==1.8.1
patsy==0.5.6
peewee==3.17.6
platformdirs==4.2.2
poolmanager==0.2.1
proglog==0.1.10
prompt_toolkit==3.0.47
Protego==0.3.0
proto-plus==1.24.0
protobuf==5.28.3
psutil==5.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
PyDispatcher==2.0.7
pyee==11.1.0
PyExecJS==1.5.1
PyGetWindow==0.0.9
Pygments==2.18.0
pygsheets==2.0.6
PyJWT==2.8.0
pymongo==4.6.1
PyMsgBox==1.0.9
PyMySQL==1.1.0
PyNaCl==1.5.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyperclip==1.9.0
pyppeteer==2.0.0
PyRect==0.2.0
PyScreeze==0.1.30
pysftp==0.2.9
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-engineio==4.9.1
python-oauth2==1.1.1
python-socketio==5.11.4
python-wordpress-xmlrpc==2.3
pytweening==1.2.0
pytz==2023.3.post1
PyYAML==6.0.1
queuelib==1.6.2
referencing==0.32.1
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==2.0.0
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.17.1
rsa==4.9
rubicon-objc==0.4.9
s3transfer==0.10.1
scipy==1.14.0
Scrapy==2.11.1
searchconsole==0.0.4
selenium==4.22.0
service-identity==24.1.0
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.0
statsmodels==0.14.2
tldextract==5.1.1
tqdm==4.66.4
trio==0.24.0
trio-websocket==0.11.1
Twisted==24.3.0
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==1.26.19
urllib3-secure-extra==0.1.0
vine==5.1.0
w3lib==2.1.2
wcwidth==0.2.13
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.1
wsproto==1.2.0
xlrd==2.0.1
yarl==1.9.4
yescaptcha==0.1.0
yfinance==0.2.41
youtube-transcript-api==0.6.2
zipp==3.20.0
zope.event==5.0
zope.interface==6.1
zstandard==0.22.0
